.name {
    opacity: 0;
    animation: fade-in 1.5s linear 1s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.bg {
    animation: parallax-bg linear;
    animation-timeline: scroll(root);
}

@keyframes parallax-bg {
    to {
        transform: translateY(300vh);
    }
}

.socials-tray:hover {
    background-color: rgba(34, 34, 34, 0.8);
}

.reveal>* {
    overflow: hidden;
    white-space: nowrap;
    height: 0%;
    animation: title-reveal ease-out forwards;
    animation-timeline: view(10px);
    animation-range: contain;
}

@keyframes title-reveal {
    to {
        height: 100%;
    }
}

.role-card {
    transition: 0.1s ease-in-out;
}

.role-card:hover {
    transform: translateY(-8px);
}

.bi-arrow-right {
    opacity: 0;
    transition: 0.3s;
}

.overlay {
    opacity: 0;
    transition: 0.3s;
}

.thumbnail-container:hover .bi-arrow-right {
    opacity: 100%;
    transform: translateX(50px);
}

.thumbnail-container:hover .overlay {
    opacity: 0.4;
}

.thumbnail-container:hover {
    box-shadow: 0 0 0 3px var(--accent);
}

.thumbnail-container {
    transition: 0.3s linear;
}

.others-card:hover {
    box-shadow: 0 0 0 2px var(--accent);
}

.others-card {
    transition: 0.3s linear;
}