:root {
    --dark: #11202c;
    --light: #e4e4e4;
    --accent: #d62c2c;
    --black: #11181d;
}

.fc-light {
    color: var(--light);
}

.fc-accent {
    color: var(--accent);
}

.fc-green{
    color: rgb(3, 145, 86);
}

.landing {
    background-color: var(--dark);
}

.navigation:hover {
    color: var(--accent);
    transition: 0.3s linear;
}

.socials-tray {
    background-color: rgba(34, 34, 34, 0.6);
    border: 1px solid white;
    transition: 0.2s linear;
}

.socials-icon {
    color: white;
}

.socials-icon {
    transition: 0.3s;
}

.socials-icon:hover {
    color: var(--accent);
    cursor: pointer;
}


.temp {
    background-color: var(--light);
}

.project-title{
    cursor: pointer;
    transition: 0.3s ease-in;
}

.project-title:hover {
    color: var(--accent);
}

.project-title:hover::selection{
    background-color: var(--dark);
}

.thumbnail-container {
    background-color: var(--accent);
}


.roles-section {
    background-color: var(--black);
}

.role-card {
    background-color: var(--dark);
}

*::selection {
    background-color: var(--accent);
}

.others-section{
    background-color: var(--dark);
}

.overlay{
    background-color: #11202c;
}

