@font-face {
    font-family: "Medium";
    src: url("fonts/NeueHaasDisplayMediu.ttf") format("truetype");
}

@font-face {
    font-family: "Regular";
    src: url("fonts/NeueHaasDisplayRoman.ttf") format("truetype");
}

@font-face {
    font-family: "Regular Italic";
    src: url("fonts/NeueHaasDisplayRomanItalic.ttf") format("truetype");
}


@font-face {
    font-family: "Light Italic";
    src: url("fonts/NeueHaasDisplayLightItalic.ttf") format("truetype");
}


@font-face {
    font-family: "Light";
    src: url("fonts/NeueHaasDisplayLight.ttf") format("truetype");
}

@font-face {
    font-family: "Seasons Light";
    src: url("fonts/The Seasons Light.otf") format("truetype");
}

@font-face {
    font-family: "Seasons Regular";
    src: url("fonts/The Seasons Regular.otf") format("truetype");
}


@font-face {
    font-family: "Seasons Bold";
    src: url("fonts/The Seasons Bold.otf") format("truetype");
}


.name,
.about-me-text,
.project-title,
.project-description,
.role-title,
.role-text,
.other-project-title {
    font-family: "Regular";
}

.section-title {
    font-family: "Medium";
}

.txt-light,
.role-company,
.navigation {
    font-family: "Light";
}


.name{
    font-family: "Seasons Light";
}

.section-title {
    font-family: "Seasons Bold";
}