* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


div {
    display: flex;
}

.parallax {
    flex-direction: column;
}


.fg {
    position: relative;
    z-index: 1;
}


.landing {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    z-index: 1;
    user-select: none;
    margin-bottom: 8rem;
    letter-spacing: -0.03em;
    text-align: center;
    font-size: 3em;
    line-height: 0.8;
}

.socials-tray {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    border-radius: 15px;
}

.temp {
    flex-direction: column;
    width: 100vw;
}

.project-title {
    font-size: 3rem;
    letter-spacing: -0.03em;
}

.about-me-text,
.project-description {
    font-size: 0.8rem;
    text-align: justify;
}

.bi-arrow-right-short {
    font-size: 5rem;
}

.thumbnail-container {
    overflow: hidden;
    max-height: 400px;
}

.thumbnail-container>img {
    object-fit: cover;
}

.roles-section {
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.section-title {
    user-select: none;
    letter-spacing: -0.03em;
}

.role-card {
    width: 100%;
    max-width: 800px;
    padding: 2.5rem;
    flex-direction: column;
}

.role-title {
    font-size: 2rem;
}

.role-company {
    font-size: 1rem;
}

.role-text {
    text-align: justify;
}

.research-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-arrow-right {
    font-size: 5rem;
    z-index: 2;
}

.overlay{
    z-index: 1;
}
@media (max-width: 576px) {

    .name,
    .section-title {
        font-size: 3rem;
    }

    .project-title {
        font-size: 1.5rem;
    }
}

/* Small devices (≥576px) — Bootstrap `sm` */
@media (min-width: 576px) {

    .name,
    .section-title {
        font-size: 3rem;
    }

    .about-me-text,
    .project-description {
        font-size: 1.2rem;
        text-align: justify;
    }
}

/* Medium devices (≥768px) — Bootstrap `md` */
@media (min-width: 768px) {

    .name,
    .section-title {
        font-size: 5rem;
    }

    .project-title {
        font-size: 4rem;
    }
}

/* Large devices (≥992px) — Bootstrap `lg` */
@media (min-width: 992px) {

    .name {
        font-size: 8rem;
    }

    .role-title {
        font-size: 2.5rem;
    }
}

/* Extra large devices (≥1200px) — Bootstrap `xl` */
@media (min-width: 1200px) {

    .name,
    .section-title {
        font-size: 8rem;
    }
}

/* Extra extra large devices (≥1400px) — Bootstrap `xxl` */
@media (min-width: 1400px) {
    /* Your styles here */
}