* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


div {
    display: flex;
}

.parallax {
    flex-direction: column;
}


.fg {
    position: relative;
    z-index: 1;
}


.landing {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

p.navigation {
    user-select: none;
}

.koi-graphic {
    position: absolute;
    z-index: -1;
    scale: 0.4;
    pointer-events: none;
}

.name {
    z-index: 1;
    user-select: none;
    letter-spacing: -0.03em;
    text-align: center;
    font-size: 3em;
    line-height: 0.8;
}

.socials-tray {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    border-radius: 15px;
}

.projects-section {
    flex-direction: column;
    width: 100vw;
}

#about-me-title,
#projects-title,
#roles-title,
#others-title {
    scroll-margin-top: 40px;
}

.project-title,
.other-project-title {
    font-size: 3rem;
    letter-spacing: -0.03em;
}

.about-me-text,
.project-description {
    font-size: 0.8rem;
    text-align: justify;
}

.bi-arrow-right-short {
    font-size: 4rem;
}

.thumbnail-container {
    overflow: hidden;
    max-height: 400px;
}

.thumbnail-container:hover {
    cursor: pointer;
}


.thumbnail-container>img {
    object-fit: cover;
}

.roles-section {
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.section-title {
    user-select: none;
}

.role-card {
    width: 100%;
    max-width: 800px;
    padding: 2.5rem;
    flex-direction: column;
}

.role-title {
    font-size: 2rem;
}

.role-company {
    font-size: 1rem;
}

.role-text {
    text-align: justify;
}

.others-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bi-arrow-right {
    font-size: 5rem;
    z-index: 2;
}

.overlay {
    z-index: 1;
}

.others-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    cursor: pointer;
}


#cursor-image {
    position: fixed;
    pointer-events: none;
    width: 30vw;
    z-index: 1000;
}

.hidden {
    display: none;
}


@media (max-width: 576px) {

    .name,
    .section-title {
        font-size: 3rem;
    }

    .project-title,
    .other-project-title {
        font-size: 1.5rem;
    }

}

/* Small devices (≥576px) — Bootstrap `sm` */
@media (min-width: 576px) {

    .name,
    .section-title {
        font-size: 3rem;
    }

    .about-me-text,
    .project-description {
        font-size: 1.2rem;
        text-align: justify;
    }

    .koi-graphic {
        scale: 0.68;
        rotate: calc(60deg + 180deg);
    }


}

/* Medium devices (≥768px) — Bootstrap `md` */
@media (min-width: 768px) {

    .name,
    .section-title {
        font-size: 5rem;
    }

    .project-title,
    .other-project-title {
        font-size: 4rem;
    }

    .koi-graphic {
        scale: 0.5;
    }


}

/* Large devices (≥992px) — Bootstrap `lg` */
@media (min-width: 992px) {

    .name {
        font-size: 8rem;
    }

    .role-title {
        font-size: 2.5rem;
    }

    .koi-graphic {
        scale: 0.65;
    }

}

/* Extra large devices (≥1200px) — Bootstrap `xl` */
@media (min-width: 1200px) {

    .name,
    .section-title {
        font-size: 8rem;
    }
}

/* Extra extra large devices (≥1400px) — Bootstrap `xxl` */
@media (min-width: 1400px) {
    /* Your styles here */
}